<%- include("partials/header") %>
<div class="container">
	<h1>	Add new Comment</h1>
	<form action="/recipes/<%= recipeId %>/comments" method="POST">
		
		<div class="form-group">
			<label for="text">Comment Text</label>
			<textarea name="text" id="text" class="form-control" rows="8" cols="80" placeholder="Comment text here..." required ></textarea>
		</div>
		<input type="hidden" name="recipeId" value="<%= recipeId %>" >
		<button type="submit" class="btn btn-primary">
			Submit Comment
		</button>
	</form>
</div>

<%- include("partials/footer") %>