<%- include("partials/header") %>
<div class="container">
	<h1>
		Add new Recipe
	</h1>

	<form action="/recipes" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label"  >Title</label>
    <input type="text" class="form-control" name="title" placeholder="e.g. watchmen" autofocus>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">description</label>
    <input type="text" class="form-control" name="description"  >
  </div>

 <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input type="text" class="form-control" name="author"  >
  </div>
	<div class="mb-3">
    <label for="publisher" class="form-label">publisher</label>
    <input type="text" class="form-control" name="publisher"  >
  </div>
	<div class="mb-3">
    <label for="date" class="form-label">Date</label>
    <input type="date" class="form-control" name="date"  >
  </div>
	<div class="mb-3">
    <label for="series" class="form-label">series</label>
    <input type="text" class="form-control" name="series"  >
  </div>
	<div class="mb-3">
    <label for="issue" class="form-label">issue</label>
    <input type="number" class="form-control" name="issue"  >
  </div>
	<div class="mb-3">
    <label for="genre" class="form-label">genre</label>
    <select class="form-control" id="genre" name="genre">
		<option>Choose Below</option>
		<option>Superhero</option>
		<option>Manga</option>
		<option>Slice-of-Life</option>
		<option>Humor</option>
		<option>Sci-fi</option>
		<option>Fantasy</option>
		<option>Horror</option>
		<option>Action</option>
		<option>Nonfiction</option>
		</select>
  </div>
	<div class="mb-3 form-check">
    
    <input type="checkbox" class="form-control form-check-input" name="color"  >
		<label for="color" class="form-label">Color?</label>
  </div>
	 <div class="mb-3">
    <label for="image" class="form-label">link to Image</label>
    <input type="text" class="form-control" name="image"  >
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
	</div>
<!-- <h1>Add new recipe</h1>
<form action="/recipes" method="POST">
	
	<label for="title">Title</label>
	<input type="text" name="title" autofocus>
	<label for="title">Description</label>
	<input type="text" name="description" >
	<label for="title">Image link</label>
	<input type="text" name="image" >
	<br/>
	<br/>
	<button type="submit">Submit</button>
</form> -->
	  <%- include("partials/footer") %>