<%- include("partials/header") %>
<div class="container">
	<h1>
		Add new Recipe
	</h1>

	<form action="/recipes" method="POST">
  <div class="mb-3">
    <label for="title" class="form-label"  >Title</label>
    <input type="text" class="form-control" name="title"  >
  </div>
  <div class="mb-3">
    <label for="directions" class="form-label">directions</label>
	  <textarea type="text" class="form-control preserve-whitespace" name="directions"  ></textarea>
  </div>

 <div class="mb-3">
    <label for="servings" class="form-label">Number of Servings</label>
    <input type="text" class="form-control" name="servings"  >
  </div>
	<div class="mb-3">
    <label for="time" class="form-label">Cooking Time</label>
    <input type="text" class="form-control" name="time"  >
  </div>
	<div class="mb-3">
    <label for="ingredients" class="form-label">ingredients</label>
    <textarea type="text" class="form-control preserve-whitespace" name="ingredients"  ></textarea>
  </div>
	
	
	<div class="mb-3">
    <label for="cuisine" class="form-label">Cuisine</label>
    <select class="form-control" id="cuisine" name="cuisine">
		<option disabled>Choose Below</option>
		<option  >Chicken</option>
		<option>Beef</option>
		<option >Pork</option>
		<option>Noodles</option>
		<option>Seafood</option>
		<option >Dessert</option>
		<option >Snacks</option>
		<option >Vegetables</option>
		<option >Sandwiches</option>
		</select>
  </div>
	 <div class="mb-3">
    <label for="image" class="form-label">link to Image</label>
    <input type="text" class="form-control" name="image" >
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
	</div>

	  <%- include("partials/footer") %>