<%- include("partials/header") %>
<h1>
	sign up
</h1>
<form action="/signup" method="POST">
	<input type="email" name="email">
	<input type="text" name="username">
	<input type="password" name="password">
	<button type="submit">
		sign up
	</button>
</form>
<%- include("partials/footer") %>

